APP_NAME=Laravel
APP_ENV=dev
APP_KEY=base64:pgxnTq544/B4VFmtj0gaKQqTeCvO5pPsdT7OCifWwVA=
APP_DEBUG=true
# APP_URL=http://localhost:8000
APP_URL=https://main.schoolmanagerph.com

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
APP_MAINTENANCE_DRIVER=file

LOG_CHANNEL=stack
LOG_LEVEL=debug

# ====================================================
# DATABASE CONNECTION SETTINGS
# ====================================================
DB_CONNECTION=database_connection
DB_HOST=127.0.0.1
DB_PORT=3306

# ====================================================
# DATABASE PRODUCTION (Live Server - Hostinger)
# ====================================================
DB_DATABASE_PROD=u141085058_sms_users_db
DB_USERNAME_PROD=u141085058_sms_users_main
DB_PASSWORD_PROD=M@trix103!

#=====================================================
# DATABASE DEVELOPMENT (Local - with root user)
#=====================================================
DB_DATABASE_DEV=sm_users_dev
DB_USERNAME_DEV=root
DB_PASSWORD_DEV=

# Use FILE sessions instead of database
SESSION_DRIVER=file
SESSION_LIFETIME=120

# CACHE / QUEUE no DB
CACHE_STORE=file
QUEUE_CONNECTION=sync

FILESYSTEM_DISK=local

# MAIL
MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"
